.slide {
  overflow: hidden;
}

.slide .canvas {
  height: 100vh;
  transform: translate3d(19rem, 0, 0);
}

.canvas {
  transition: .5s ease;
}

.grid-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
