.slide {
  overflow: hidden;
}

.slide .canvas {
  height: 100vh;
  transform: translate3d(19rem, 0, 0);
}

.canvas {
  position: relative;
  transition: .5s ease;
}

.grid-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;

}

@media (max-width: 1024px) {
  .grid-wrapper {
    flex-direction: column;
  }
}
