/* -- Global -- */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #263238;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1rem 0;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

p {
  margin: 1rem 0;
}
