/* -- Global -- */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}
