/* -- nav-bar -- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.side-menu, .search-menu {
  width: 56px;
  text-align: center;
}

/* -- Hamburger -- */

.slide #burger {
  left: -56px;
}

#burger {
  width: 1rem;
  height: 1rem;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 0;
  transform: rotate(0deg);
  transition: .5s ease;
  background-color: transparent;
  cursor: pointer;
}

#burger:focus {
  outline: none;
}

#burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: gray;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

#burger span:nth-child(2) {
  top: 6px;
  transform-origin: left center;
}

#burger span:nth-child(3) {
  top: 12px;
  transform-origin: left center;
}

#burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
  top: 2px;
  left: 2px;
}

#burger.is-active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
  left: 2px;
}
