.slide #burger {
  left: -52px;
}

#burger {
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: .5s ease left;
}

#burger:hover {
  background-color: transparent;
}

#burger:focus {
  outline: none;
}

.icon {
  margin-right: 12px;
}
